.MoviesView {
    width: 550px;
    display: flex;
    p{
        width: 50%;
        img {
            width: 100%;
        }
    }
    div {
        width: 50%;
        h3 {
            font-size: 25px;
            margin-bottom: 30px;
        }
        ul{
            li {
                line-height: 50px;
                border-bottom: 1px solid #dcdcdc;
                 
                span {
                    display:inline-block;
                    width: 60px;
                }
                &:first-child {
                    border-top: 1px solid #000;
                }
                &:nth-child(3n){
                    border-bottom: 1px solid #000;
                }
            }
        }
    }
}